.button {
  border: none;
  border-radius: 6px;
  color: white;
}

.close-button-icon {
  margin-left: auto !important;
  background: crimson !important;
  margin-right: 2px !important;
}

.apply {
  background: lightgreen;
  margin-right: 2px;
}

.image {
  width: 250px;
  height: 250px;
  margin: 1em;
  border: 1px solid black;
}
