.no-underline:hover {
  text-decoration: none !important;
}

.word-wrap {
  word-break: break-word;
}

.cursor-pointer {
  cursor: pointer;
}

.question-border {
  border: 1px solid #ededed;
  border-radius: 1em;
}

.count-position {
  left: 0px;
  right: 0px;
  top: 25px;
  margin: 0px auto 0px 19px;
  color: white;
}

.text-shorten {
  line-height: 1.5em;
  height: 1.5em;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  color: #666;
}

.pos {
  position: absolute;
  right: 0;
  top: 0;
}
